<!-- <div class="container mt-5">
    <div class="blog-detail">
      <img [src]="blog.banner" alt="Blog Image" class="img-fluid mb-4">
      <h2>{{ blog.title }}</h2>
      <p><strong>Author:</strong> {{ blog.author }}</p>
      <p><strong>Created on:</strong> {{ blog.createdDate }}</p>
      <p>{{ blog.description }}</p>
    </div>
  </div> -->
  <div class="container mt-5">
    <div class="blog-detail">
      <img [src]="blog.banner" alt="Blog Image" class="img-fluid mb-4">
      <h2 class="blog-title">{{ blog.title }}</h2>
      <div class="blog-meta">
        <p><strong>Author:</strong> {{ blog.author }}</p>
        <p><strong>Created on:</strong> {{ blog.createdDate }}</p>
      </div>
      <div class="blog-description">
        <!-- <p>{{ blog.description }}</p> -->
        <div class="card-text" [innerHTML]="blog.description" style="white-space: pre-wrap;">blog.description</div>
      </div>
    </div>
  </div>
  