<div class="container mt-4">
    <div class="row">
      <!-- Featured Blogs Section -->
      <div class="col-12 mb-4">
        <h2>Featured Blogs</h2>
        <div class="row">
          <div class="col-md-4" *ngFor="let blog of blogs">
            <div class="card h-100 shadow-sm">
              <img [src]="blog.banner" class="card-img-top" alt="Blog Image">
              <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <p class="card-text">{{ blog.description }}...</p>
                <a class="btn btn-primary">Read More</a>
                <!-- <a [routerLink]="['/blog', blog.id]" class="btn btn-primary">Read More</a> -->

            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <!-- Blog Card -->
          <div class="col-md-4" *ngFor="let blog of blogs">
            <div class="card blog-card">
              <img class="card-img-top" [src]="blog.banner || 'assets/sample-blog-image.jpg'" alt="Blog Image">
              <div class="card-body">
                <h5 class="card-title">{{ blog.title || 'Sample Blog Title' }}</h5>
                <p class="card-text">
                  {{ blog.description || 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' }}
                </p>
                <a class="btn btn-primary">Read More</a>
                <!-- <a [routerLink]="['/blog', blog.id]" class="btn btn-primary">Read More</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Categories Section -->
      <div class="col-12 mb-4">
        <h3>Categories</h3>
        <div class="d-flex flex-wrap">
          <div *ngFor="let category of categories" class="p-2">
            <button class="btn btn-outline-dark" (click)="filterBlogsByCategory(category)">
              {{ category }}
            </button>
          </div>
        </div>
      </div>
  
      <!-- Subscription Box -->
      <div class="col-12 mb-4">
        <h4>Subscribe for Updates</h4>
        <form (ngSubmit)="onSubscribe()">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email"  name="email" placeholder="Enter your email">          </div>

            <!-- <input type="email" class="form-control" id="email" [(ngModel)]="subscriberEmail" name="email" placeholder="Enter your email">          </div> -->
          <button type="submit" class="btn btn-primary mt-2">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
  