<!-- <div class="container mt-4">
    <div class="row">
       Featured Blogs Section 
      <div class="col-12 mb-4">
        <h2>Featured Blogs</h2>
        <div class="row">
          <div class="col-md-4" *ngFor="let blog of blogs">
            <div class="card h-100 shadow-sm">
              <img [src]="blog.banner" class="card-img-top" alt="Blog Image">
              <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <p class="card-text">{{ blog.description }}...</p>
                <a class="btn btn-primary">Read More</a>
                 <a [routerLink]="['/blog', blog.id]" class="btn btn-primary">Read More</a> 

            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
           Blog Card 
          <div class="col-md-4" *ngFor="let blog of blogs">
            <div class="card blog-card">
              <img class="card-img-top" [src]="blog.banner || 'assets/sample-blog-image.jpg'" alt="Blog Image">
              <div class="card-body">
                <h5 class="card-title">{{ blog.title || 'Sample Blog Title' }}</h5>
                <p class="card-text">
                  {{ blog.description || 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' }}
                </p>
                <a class="btn btn-primary">Read More</a>
                <a [routerLink]="['/blog', blog.id]" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
     
    </div>
  </div> -->


<!-- Navbar -->
<!-- <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">Blogsome</a>
    </div>
  </nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Blogsome</a>

    <!-- Categories Dropdown -->
    <!-- <div class="dropdown ms-auto">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          Categories
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="categoryDropdown">
          <li><a class="dropdown-item" (click)="filterBlogsByCategory('all')">All</a></li>
          <li *ngFor="let category of categories">
            <a class="dropdown-item" (click)="filterBlogsByCategory(category)">{{ category }}</a>
          </li>
        </ul>
      </div> -->

    <!-- Search Icon -->
    <button class="btn btn-light ms-3" aria-label="Search">
      <i class="bi bi-search"></i>
    </button>

    <!-- Sign In Button -->
    <div>
      <a [routerLink]="['/auth-callback']" class="btn btn-outline-dark ms-3">Sign in</a>
      <!-- Log Out Button -->
      <a [routerLink]="['/auth-callback']" class="btn btn-outline-dark ms-3" (click)="logout()">Log Out</a>
    </div>
  </div>
</nav>


<!-- Hero Section -->
<section class="hero-section">
  <div class="container content">
    <h1 class="content-header">Welcome to Blogsome</h1>
    <p class="content-sub-header">Sharing my thoughts and experiences with the world</p>
    <!-- <button class="btn btn-light" [routerLink]="['/add-blog']" (click)="auth.loginWithRedirect()">Get Started</button> -->
    <button class="btn btn-light btn-animated" [routerLink]="['/auth-callback']">Get Started</button>
  </div>
</section>

<!-- Categories Section -->
<div class="col-12 mb-4">
  <!-- <h3>Categories</h3>
    <div class="d-flex flex-wrap">
      <div *ngFor="let category of categories" class="p-2">
        <button class="btn btn-outline-dark" (click)="filterBlogsByCategory(category)">
          {{ category }}
        </button>
      </div>
    </div> -->
  <!-- <div class="col-12 mb-4">
      <h3>Categories</h3>
      <div class="d-flex flex-wrap">
        <button class="btn btn-outline-dark me-2" (click)="filterBlogsByCategory('all')">All</button>
        <button *ngFor="let category of categories" class="btn btn-outline-dark me-2" (click)="filterBlogsByCategory(category)">
          {{ category }}
        </button>
      </div>
    </div> -->
</div>

<!-- Subscription Box -->
<!-- <div class="col-12 mb-4">
    <h4>Subscribe for Updates</h4>
    <form (ngSubmit)="onSubscribe()">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email"  name="email" placeholder="Enter your email">          </div>

        <input type="email" class="form-control" id="email" [(ngModel)]="subscriberEmail" name="email" placeholder="Enter your email">          </div> 
      <button type="submit" class="btn btn-primary mt-2">Subscribe</button>
    </form>
  </div> -->

<!-- Blog Section -->
<section class="blog-section bg-light">
  <div class="container g-0">
    <h2 class="text-center mb-5">Latest Posts</h2>

    <!-- Categories Dropdown -->
    <!-- Categories Dropdown -->
    <div class="dropdown ms-auto">
      <button class="btn btn-outline-dark dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown"
        aria-expanded="false">
        Categories
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="categoryDropdown">
        <li><a class="dropdown-item" (click)="filterBlogsByCategory('all')">All</a></li>
        <li *ngFor="let category of categories">
          <a class="dropdown-item" (click)="filterBlogsByCategory(category)">{{ category }}</a>
        </li>
      </ul>
    </div>

    <!-- <div class="row">
        <div class="col-md-4">
          <div class="blog-card">
            <img src="https://via.placeholder.com/350x200" alt="Blog Image">
            <div class="p-4">
              <h5 class="mb-3 ">Blog Post Title</h5>
              <p class="text-muted ">A short description of the blog post...</p>
            </div>
          </div>
        </div> -->


    <!-- <div class="row">
        <div class="col-md-4" *ngFor="let blog of filteredBlogs">
          <div class="card blog-card">
            <img class="card-img-top" [src]="blog.banner" alt="Blog Image">
            <div class="card-body">
              <h5 class="card-title">{{ blog.title }}</h5>
             
              <div class="card-text" [innerHTML]="blog.description" style="white-space: pre-wrap;">blog.description</div>
              <a [routerLink]="['/blog', blog.id]" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div> -->
    <!-- Blog Cards Grid -->
    <div class="cards-row">
      <div class="card-wrapper" *ngFor="let blog of filteredBlogs">
        <div class="card blog-card">
          <div class="card-img-container">
            <img class="card-img-top" [src]="blog.banner ? blog.banner : 'https://www.1rivet.com/wp-content/uploads/group-diverse-people-having-business-meeting.jpg'"   alt="Blog Image">
          </div>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ blog.title }}</h5>
            <div class="card-text" [innerHTML]="blog.description"></div>
            <a [routerLink]="['/blog', blog.id]" class="btn btn-primary mt-auto">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <p>&copy; 2024 My Blog. All Rights Reserved.</p>
  </div>
</footer>